
<% if user_signed_in? %>




	<div>
		<h1>Where would you like to go?</h1>

		<div class="row pager">
			<div class="col-lg-6">
		    <div class="input-group">
		      <input id="place_name" type="text" class="form-control" placeholder="How about...">
		      <span class="input-group-btn">
		        <button id="create_from_name" class="btn btn-default" type="button">Go!</button>
		      </span>
		    </div><!-- /input-group -->
	  	</div>
	  </div>

		<div class="row">
		  <div id="map" style='width: 100%; height: 400px;'></div>
		</div>
	</div>

	<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap" type="text/javascript"></script>

  <script type="text/javascript">

  	var markers = [];
		var map;
  	var latitude, longitude;
  	var infowindow;

	  function place_markers() {
			while(markers[0]){
				markers.pop().setMap(null);
			}
			$.ajax({
			  type: "GET",
			  url: "/users/<%=current_user.id.to_s%>/places",
			  dataType: 'json',
			  success: function(data) {
			  	for (i=0; i<data.length; i++) {
					  var marker = new google.maps.Marker({
					    position: {lat: parseFloat(data[i]['coordinates'][0]), lng: parseFloat(data[i]['coordinates'][1])},
					    map: map,
					    city_name: data[i]['name']
					  });
					  if (data[i]['visited']) {
					  	marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')
					  }
						google.maps.event.addListener(marker, 'click', function () {
							infowindow.setContent(infowindow_html_edit(this.city_name));
							infowindow.open(map, this);
						});
					  markers.push(marker);
			  	}
			  }
			});	
	  }


		function create_place(latitude, longitude) {
			$.ajax({
			  type: "POST",
			  url: "/users/<%=current_user.id.to_s%>/places",
			  dataType: 'json',
			  data: {'latitude': latitude, 'longitude': longitude},
			});	

			infowindow.close();
	    // Redraw updated markers
			place_markers();
		}

		function create_place_from_name(name) {
			$.ajax({
			  type: "POST",
			  url: "/users/<%=current_user.id.to_s%>/places",
			  dataType: 'json',
			  data: {name: name},
			});	

			infowindow.close();
	    // Redraw updated markers
			place_markers();
		}

		function remove_place(name) {
			$.ajax({
			  type: "DELETE",
			  url: "/users/<%=current_user.id.to_s%>/places/"+name,
			  dataType: 'json',
			  success: function() {
			  	infowindow.close();
			  }
			});	

	    // Redraw updated markers
			place_markers();
		}		

		function visit_place(name) {
			$.ajax({
			  type: "PUT",
			  url: "/users/<%=current_user.id.to_s%>/places/"+name+'/visit',
			  dataType: 'json',
			  success: function() {
			  	infowindow.close();
			  }
			});	

	    // Redraw updated markers
			place_markers();
		}

		function get_city_name(latitude, longitude, infowindow) {
			var cityname = "Not found"
			$.ajax({
			  type: "GET",
			  url: "/decode",
			  dataType: 'json',
			  data: {'latitude': latitude, 'longitude': longitude},
			  success: function(data) {
			    infowindow.open(map);
			  	$('#infobox_cityname').text(data['city']);
			  },
			  error: function(data) {
			  	console.log("Failed ajax");
			  	infowindow.close();
			  }
			});
		}

		function infowindow_html_new(latitude, longitude) {
	    return '<div id="content">'+
	      '<h2 id="infobox_cityname" class="firstHeading">Loading city...</h2>'+
	      '<div id="bodyContent">'+
	      '<input class="btn btn-primary btn-sm" id="add_city" type="button" value="Add" onclick="create_place(\''+latitude+'\',\''+longitude+'\');"/>'+
	      '</div>'+
	      '</div>';
		}

		function infowindow_html_edit(name) {
	    return '<div id="content">'+
	      '<h2 id="infobox_cityname" class="firstHeading">'+name+'</h2>'+
	      '<div id="bodyContent">'+
	      '<p class="bs-component">'+
	      '<input class="btn btn-danger btn-sm" id="add_city" type="button" value="Remove" onclick="remove_place(\''+name+'\');"/>'+
	      '<input class="btn btn-default btn-sm" id="visit_city" type="button" value="Visit/Unvisit" onclick="visit_place(\''+name+'\');"/>'+
	      '</p>'+
	      '</div>'+
	      '</div>';
		}

		function initMap() {
	  	infowindow = new google.maps.InfoWindow();

		  map = new google.maps.Map(document.getElementById('map'), {
		    center: {lat: -8.03, lng: -34.8},
		    zoom: 5
		  });

		  place_markers();

		  google.maps.event.addListener(map, "click", function (event) {
		    latitude = event.latLng.lat();
		    longitude = event.latLng.lng();
  	  	get_city_name(latitude, longitude, infowindow);
		    infowindow.setContent(infowindow_html_new(latitude, longitude));
		    infowindow.setPosition({lat: latitude, lng: longitude});
			}); //end addListener
		}

		$( document ).ready(function() {
    	$('#create_from_name').click(function() {
				create_place_from_name($('#place_name').val());
			});
			$('#place_name').on("keypress", function(e) {
        if (e.keyCode == 13) {
					create_place_from_name($('#place_name').val());
          return false;
        }
			});
		});
		

    </script>



<%else%>

<style type="text/css">

    .jumbotron
    {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/assets/<%="0#{((rand*5).to_i)}.jpg"%>');
        height: 600px;
    }

</style>

	<div class="jumbotron">
	  <h1>ToVisit</h1>
	  <p>Do you have a travel bucket list? Well, you definitively should. Sign up or log in to get started!<strong></p>
		<p><%= link_to "More about ToVisit", "#myModal", "data-toggle" => "modal", "class" => "btn btn-default" %></p>
	</div>


<% end %>
