<p id="notice"><%= notice %></p>

<h1>Listing Places</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.visited %></td>
        <td><%= link_to 'Destroy', [current_user, place], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Visit', user_place_visit_path(current_user, place.name), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

