<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ToVisit</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        	<li><a href="<%= user_places_path(current_user) %>">My places</a></li>
        	<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      	<% else %>
        	<li><%= link_to('Login', new_user_session_path)  %></li>
        	<li><%= link_to('Signup', new_user_registration_path)  %></li>
        <% end %>
        <li>
        <%= link_to "About", "#myModal", "data-toggle" => "modal" %>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About ToVisit</h4>
      </div>
      <div class="modal-body">
        <p>After a few of months off I was a little rusty on Rails, so I took a couple of days and built ToVisit hoping that it would refresh my memory a bit. Here's a non compprehensive list of stuff used:</p>

        <ul>
        	<li><strong>Heroku</strong></li>
        	<li><strong>Mongolabs</strong></li>
        	<li><strong>Ruby on Rails</strong> (duh!)</li>
        	<li><strong>Mongoid 5.0</strong></li> 
        	<li><strong>Devise</strong></li>
        	<li><strong>Geocoder</strong> for the reverse address encoding (latlong -> address)</li>
        	<li><strong>Will paginate</strong></li>
          <li><strong>Bootstrap</strong></li>
        	<li><strong>Bootswatch</strong></li>
        </ul>

        <p>There are a few things lacking in this app:</p>
        <ul>
          <li>No autocomplete in the search box. May add later.</li>
          <li>No tests! Life is just too short.</li>
        </ul>

        <p>Feel free to contact me if you want at lbrito@gmail.com.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="https://github.com/lbrito1" class="btn btn-default">My GitHub</a>
      </div>
    </div>
  </div>
</div>