<!DOCTYPE html>
<html>
<head>
  </style>
  <title>Tovisit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body>

    <!-- Navbar -->
    <%= render partial: 'layouts/navbar' %>

    <!-- Infobox warnings -->
    <%if notice.present? %>
      <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= notice %>
      </div>
    <%end%>
    <%if alert.present?%>
    <div class="alert alert-warning alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= alert %>
    </div>
    <%end%>

    <div class="container starter-template">
      <%= yield %>
    </div>
  </body>
</html>


